In [24]:
import pandas as pd
import statistics

blood_pressure = pd.read_csv(r'../blood_pressure.csv')
blood_pressure.head()

       before       after
0  136.713072   92.432965
1  134.735618  105.022643
2  127.529115   82.242766
3  144.527126   93.607172
4  124.214720  103.212223

In [17]:
from scipy.stats import ttest_rel

a , b = ttest_rel(blood_pressure.before, blood_pressure.after)

if b < 0.05:
    print('reject null hypothesis')

reject null hypothesis

In [16]:
from scipy.stats import ttest_1samp

a, b = ttest_1samp(blood_pressure.after-blood_pressure.before, 0)
if b < 0.05:
    print('reject null hypothesis')

reject null hypothesis

    INDEPENDENT SAMPLES

In [18]:
ab_test = pd.read_csv(r'../ab_test.csv')
ab_test.head()

       a      b
0   0.27  13.61
1   6.08  21.53
2  13.74   9.23
3   9.70   5.36
4   7.00  12.90

In [20]:
from scipy.stats import ttest_ind

a, b = ttest_ind(ab_test.a, ab_test.b, equal_var=True)

if b < 0.05:
    print('reject null hypothesis')

reject null hypothesis

In [21]:
ab_test.describe()

              a          b
count  50.00000  50.000000
mean    9.35540  12.466000
std     5.23527   6.491255
min     0.27000   0.590000
25%     5.42000   8.112500
50%     9.07000  12.635000
75%    13.46000  17.850000
max    20.90000  24.000000

In [26]:
statistics.variance(ab_test.b)

42.13639591836735