# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np






# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

data = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:

data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [14]:
len(data.loc[(data['Legendary'] == False) & (data['Attack'] == 49)])

3

In [7]:
print(len(data[data['Legendary'] == True]))
print(len(data[data['Legendary'] == False]))

65
735

In [8]:
legendary = pokemon[pokemon['Legendary'] == True]
non_legendary = pokemon[pokemon['Legendary'] == False]


print(legendary['Name'].count())
print(non_legendary['Name'].count())

65
735

In [14]:
# Your code here:

legendary = pokemon[pokemon['Legendary'] == True]
non_legendary = pokemon[pokemon['Legendary'] == False]

print(legendary['Name'].count())
print(non_legendary['Name'].count())

65
735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [11]:
print(pokemon[pokemon['Legendary'] == True].mean())
print(pokemon[pokemon['Legendary'] == True].std())
print(pokemon[pokemon['Legendary'] == False].std())
print(pokemon[pokemon['Legendary'] == False].mean())

#             470.215385
Total         637.384615
HP             92.738462
Attack        116.676923
Defense        99.661538
Sp. Atk       122.184615
Sp. Def       105.938462
Speed         100.184615
Generation      3.769231
Legendary       1.000000
dtype: float64
#             173.651095
Total          60.937389
HP             21.722164
Attack         30.348037
Defense        28.255131
Sp. Atk        31.104608
Sp. Def        28.827004
Speed          22.952323
Generation      1.455262
Legendary       0.000000
dtype: float64
#             208.590419
Total         106.760417
HP             24.808849
Attack         30.490153
Defense        30.408194
Sp. Atk        29.091705
Sp. Def        25.669310
Speed          27.843038
Generation      1.673471
Legendary       0.000000
dtype: float64
#             353.315646
Total         417.213605
HP             67.182313
Attack         75.669388
Defense        71.559184
Sp. Atk        68.454422
Sp. Def        68.892517
Speed          65.455782
Generation      3.284354
Legendary       0.000000
dtype: float64

In [10]:
print(legendary['Total'].mean())
print(legendary['Total'].std())

637.3846153846154
60.93738905315346

In [16]:
# Your code here:
legendary['Total'].mean()
legendary['Total'].std()

60.93738905315346

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [13]:
from scipy.stats import ttest_ind

a, b = ttest_ind(pokemon[pokemon['Legendary'] == True]['Total'],
                 pokemon[pokemon['Legendary'] == False]['Total'],
                equal_var = False)

if b < 0.05:
    print('reject null hypothesis')
else:
    print('do not reject null hypotheis')

reject null hypothesis

In [14]:
from scipy.stats import ttest_ind

x , y = ttest_ind(legendary['Total'], non_legendary['Total'], equal_var=False)

if y < 0.05:
    print(y)
    print('reject null hypothesis')

9.357954335957446e-47
reject null hypothesis

In [18]:
# Your code here:
from scipy import stats

stats.ttest_ind(legendary['Total'], non_legendary['Total'], equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

#we reject the null Hypothesis the means are diferent

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [16]:
pokemon.groupby('Type 1')['Name'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

In [16]:
pokemon.groupby('Type 1')['Name'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

In [20]:
# Your code here:


pokemon.groupby('Type 1')['Name'].count()

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [21]:
print(pokemon[pokemon['Type 1'] == 'Water']['Total'].mean())
print(pokemon[pokemon['Type 1'] != 'Water']['Total'].mean())

430.45535714285717
435.85901162790697

In [25]:
print(pokemon[pokemon['Type 1'] == 'Water']['Total'].std())
print(pokemon[pokemon['Type 1'] != 'Water']['Total'].std())

113.18826606431458
121.09168230208066

In [19]:
water = pokemon[pokemon['Type 1'] == 'Water']
no_water = pokemon[pokemon['Type 1'] != 'Water']

print(water['Total'].mean())
print(water['Total'].std())

113.18826606431458

In [29]:
# Your code here:

water = pokemon[pokemon['Type 1'] == 'Water']
no_water = pokemon[pokemon['Type 1'] != 'Water']

water['Total'].mean()
water['Total'].std()

113.18826606431458

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [26]:
statistic, p_value = ttest_ind(pokemon[pokemon['Type 1'] == 'Water']['Total'],
                              pokemon[pokemon['Type 1'] != 'Water']['Total'], 
                              equal_var = True)
if p_value < 0.05:
    print('reject null hypothesis')
else:
    print('not reject null hypothesis')

not reject null hypothesis

In [26]:


x, y = ttest_ind(water['Total'], no_water['Total'], equal_var=True)
print(y)
if y < 0.05:
    print(y)
    print('reject null hypothesis')

0.6587140317488793

In [30]:
# Your code here:

stats.ttest_ind(water['Total'], no_water['Total'])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:

p value> 0.05

we accept null hipothesis or we do not reject it ,;

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [28]:
from scipy.stats import ttest_rel

statistic, p_value  = ttest_rel(data['Attack'], data['Defense'])

if p_value < 0.05:
    print('reject nullhypothesis')
else:
    print('Do not reject null hypothesis')

reject nullhypothesis

In [30]:
from scipy.stats import ttest_rel

x , y = ttest_rel(pokemon['Attack'], pokemon['Defense'])

if y < 0.05:
    print(f'{y} is < 0.05 so we reject the null hypothesis')

1.7140303479358558e-05 is < 0.05 so we reject the null hypothesis

Ttest_indResult(statistic=3.2417640740423126, pvalue=0.0012123980547321454)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

p value < 0.5 

#we reject null hipothesis  o

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [34]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [35]:
from scipy.stats import ttest_1samp

s, p = ttest_1samp(data['Attack']-data['Sp. Atk'], 0)

if p < 0.05:
    print('reject null Hypotheis')

reject null Hypotheis

In [41]:
# Your code here:


print(pokemon['Sp. Atk'].mean())
print(pokemon['Sp. Def'].std())



x, y = ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

if y < 0.05:
    print(f'{y} is < 0.05 reject null hypothesis')
else:
    print(f'{y} is > 0.05 we do not reject null value')
    print('we cannot said the means have statisticall diference')

72.82
27.82891579711745
0.3933685997548122 is > 0.05 we do not reject null value
we cannot said the means have statisticall diference

Describe the results of the test in the cell below.

In [32]:
# Your conclusions here:

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [46]:
# Your code here:

from scipy import stats

x, y = stats.ttest_1samp(pokemon['Defense'] - pokemon['Attack'], 0)
print(y)

1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [44]:
data['Water'] = np.where(data['Type 1'] == 'Water', True, False)

cross = pd.crosstab(data.Water, data.Legendary)

In [54]:
cross

Legendary  False  True
Water
False        627     61
True         108      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [61]:
from scipy.stats import chisquare

x, y  = chisquare(cross, axis= True)

if y < 0.05:
    print('reject null hypothesis')

TypeError: an integer is required

In [52]:
# Your code here:

from scipy.stats import chi2_contingency
x , y, dof , expctd = chi2_contingency(cross)


if y < 0.05:
    print('reject null hypothesis')
else:
    print('not reject null hypothesis')

not reject null hypothesis

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: