In [2]:
#DICTS

In [3]:
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

In [4]:
contacts.keys()

dict_keys(['John', 'Paul', 'George', 'Ringo'])

In [5]:
contacts.values()

dict_values(['312-555-1234', '312-555-3123', '312-555-3333', '312-555-2222'])

In [6]:
contacts.items()

dict_items([('John', '312-555-1234'), ('Paul', '312-555-3123'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

In [7]:
#Adding new values.....
contacts['Paul'] = '333-555-4444'

In [9]:
contacts.items()

dict_items([('John', '312-555-1234'), ('Paul', '333-555-4444'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

In [10]:
del contacts['Paul']

In [12]:
contacts.items()

dict_items([('John', '312-555-1234'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

In [13]:
empty_dic = {}

In [16]:
for i in contacts.keys():
    print(i)
    
for i in contacts.values():
    print(i)

John
George
Ringo
312-555-1234
312-555-3333
312-555-2222

In [17]:
for i in contacts.items():
    print(i)

('John', '312-555-1234')
('George', '312-555-3333')
('Ringo', '312-555-2222')

In [20]:
international = {k: '+1-' +v for k,v in contacts.items()}

for k,v in international.items():
    print(k, ': ',v)

John :  +1-312-555-1234
George :  +1-312-555-3333
Ringo :  +1-312-555-2222

## Sets 
Sets are unordered collections of unique elements. Similar to lists, they are also mutable.
This meants that we can insert and delete values to our set.

In [21]:
letters = set()

In [25]:
letters.add('a')

In [23]:
print(letters)

{'a'}

In [26]:
letters.remove('a')

In [27]:
print(letters)

set()

In [28]:
girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna'])

boy_names = set(['John', 'Alexander', 'Logan', 'Madison'])

In [31]:
unisex_names = girl_names.intersection(boy_names)
unisex_names

{'Logan', 'Madison'}

In [33]:
all_names = boy_names.union(girl_names)
all_names

{'Alexander', 'Joanna', 'John', 'Logan', 'Madison', 'Mary'}

In [36]:
boy_only_names = boy_names - girl_names
boy_only_names

{'Alexander', 'John'}