In [1]:
print( 'Helo' + 'Helo')
print('Helo ' * 8 )

HeloHelo
Helo Helo Helo Helo Helo Helo Helo Helo

In [3]:
x = 'Happy'
y = 'Puppies'
z = [x,y]
' '.join(z)

'Happy Puppies'

In [5]:
a = 'They ate the mystery meat. It tasted like chicken.'

print(a.split())
print(a.split('.'))
print(a.split('m'))

['They', 'ate', 'the', 'mystery', 'meat.', 'It', 'tasted', 'like', 'chicken.']
['They ate the mystery meat', ' It tasted like chicken', '']
['They ate the ', 'ystery ', 'eat. It tasted like chicken.']

In [6]:
b = 'There is no business like show business.'

print(b.startswith('T'))
print(b.startswith('There'))
print(b.startswith('t'))

True
True
False

In [8]:
print(b.endswith('.'))
print(b.endswith('business.'))
print(b.endswith('Business.'))

True
True
False

In [9]:
print('like' in b)
print('business' in b)
print('Business' in b)

True
True
False

In [15]:
c = 'shE HaD a maRveLoUs aSsoRtmeNt of PUPPETS.'
print(c.lower())
print(c.upper())
print(c.capitalize())
print(c.title())

she had a marvelous assortment of puppets.
SHE HAD A MARVELOUS ASSORTMENT OF PUPPETS.
She had a marvelous assortment of puppets.
She Had A Marvelous Assortment Of Puppets.

In [19]:
d = ' I have a tendency to leave trailing spaces. '
print(d.strip())
print(d.lstrip())
print(d.rstrip())

I have a tendency to leave trailing spaces.
I have a tendency to leave trailing spaces.
 I have a tendency to leave trailing spaces.

In [21]:
e = 'I thought the movie was wonderful!'
print(e.replace('wonderful', 'horrible'))
print(e.replace('wonderful', 'just ok'))

I thought the movie was horrible!
I thought the movie was just ok!

In [23]:
import re
text = 'My neighbor, Mr. Rogers, has 5 dogs.'
print(re.findall('neigh', text))

['neigh']

In [24]:
# re.search... first instance, re.findall.... finds all instances,
#re.split... plits a string based on a specifified delimiter
#re.sub..... substitude a string with another.

In [26]:
re.findall('[mngbors]', text)

['n', 'g', 'b', 'o', 'r', 'r', 'o', 'g', 'r', 's', 's', 'o', 'g', 's']

In [27]:
#[a-z] any lowercase, [A-Z] any uppercase, [0-9] any numeric between 0 and9

In [28]:
re.findall('[a-z]', text)

['y',
 'n',
 'e',
 'i',
 'g',
 'h',
 'b',
 'o',
 'r',
 'r',
 'o',
 'g',
 'e',
 'r',
 's',
 'h',
 'a',
 's',
 'd',
 'o',
 'g',
 's']

In [29]:
# ^ this sign is for selecting everything that does not match
#like [^a-z], will choose everything that isnt a lowercase.
print(re.findall('[^a-z]', text))

['M', ' ', ',', ' ', 'M', '.', ' ', 'R', ',', ' ', ' ', '5', ' ', '.']

In [30]:
#[a-zA-Z0-9] selects everything 
re.findall('[a-zA-Z0-9]', text)

['M',
 'y',
 'n',
 'e',
 'i',
 'g',
 'h',
 'b',
 'o',
 'r',
 'M',
 'r',
 'R',
 'o',
 'g',
 'e',
 'r',
 's',
 'h',
 'a',
 's',
 '5',
 'd',
 'o',
 'g',
 's']

In [34]:
#[a-zA-Z0-9 ] with a space at the final extracts spaces to
re.findall('[ a-zA-Z0-9]', text)

['M',
 'y',
 ' ',
 'n',
 'e',
 'i',
 'g',
 'h',
 'b',
 'o',
 'r',
 ' ',
 'M',
 'r',
 ' ',
 'R',
 'o',
 'g',
 'e',
 'r',
 's',
 ' ',
 'h',
 'a',
 's',
 ' ',
 '5',
 ' ',
 'd',
 'o',
 'g',
 's']


    \w: Any alphanumeric character.
    \W: Any non-alphanumeric character.
    \d: Any numeric character.
    \D: Any non-numeric character.
    \s: Any whitespace characters.
    \S: Any non-whitespace characters.
    .: Any character except newline (\n).

In [1]:
import re

text = 'My neighbor Mr Rogers has 100 dogs'

re.findall('[\d]', text)

['1', '0', '0']

re.findall('[\w]', text)

In [5]:
re.findall('[\S]', text)

['M',
 'y',
 'n',
 'e',
 'i',
 'g',
 'h',
 'b',
 'o',
 'r',
 'M',
 'r',
 'R',
 'o',
 'g',
 'e',
 'r',
 's',
 'h',
 'a',
 's',
 '1',
 '0',
 '0',
 'd',
 'o',
 'g',
 's']

In [7]:
re.findall('.', text)

['M',
 'y',
 ' ',
 'n',
 'e',
 'i',
 'g',
 'h',
 'b',
 'o',
 'r',
 ' ',
 'M',
 'r',
 ' ',
 'R',
 'o',
 'g',
 'e',
 'r',
 's',
 ' ',
 'h',
 'a',
 's',
 ' ',
 '1',
 '0',
 '0',
 ' ',
 'd',
 'o',
 'g',
 's']

In [10]:
text = 'My neighbor, Mr. Rogers, has 5 dogs.'
re.split(', ', text)

['My neighbor', 'Mr. Rogers', 'has 5 dogs.']

In [11]:
re.split('[0-9]', text)

['My neighbor, Mr. Rogers, has ', ' dogs.']

In [12]:
re.sub('[0-9]', '5', text)

'My neighbor, Mr. Rogers, has 5 dogs.'