## Map function

Its a function to apply a function to all elements of a list or set

In [18]:
def half(x):
    return x / 2

In [19]:
l = [10, 12, 34, 23]
map(half, l)

In [20]:
list(map(half, l))

[5.0, 6.0, 17.0, 11.5]

In [21]:
#This is another way of doing it. 
[half(x) for x in l]

[5.0, 6.0, 17.0, 11.5]

In [22]:
x = lambda x: x /2
[x(i) for i in l]

[5.0, 6.0, 17.0, 11.5]

In [23]:
[x/2 for x in l]

[5.0, 6.0, 17.0, 11.5]

## Filter function

The filter() function selects elements from an iterable (list, tuple etc.) based on the output of a function.

The function is applied to each element of the iterable and if it returns True, the element is selected by the filter() function.

In [24]:
filter(lambda x: x %2==1, l)

In [25]:
list(filter(lambda x: x%2==0, l))

[10, 12, 34]

## Reduce Funtion

The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

Working :  

    At first step, first two elements of sequence are picked and the result is obtained.
    Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.
    This process continues till no more elements are left in the container.
    The final returned result is returned and printed on console.

In [32]:
import functools

lis = [1,3,5,6,2]

#using reduce to compute sum of list
print(functools.reduce(lambda a,b: a+b, lis))

#using reduce to compute maximum element from list
print(functools.reduce(lambda a,b: a if a> b else b, lis))

17
6

In [33]:
sumation = lambda a, b: a+b

functools.reduce(sumation, lis)

17

## Functional programming in Pandas

In pandas, we can use the apply() function to apply a function to a dataset. We do not make a distinction between functions that are applied to every row or every column and aggregate functions. We can use the apply function for both types.

In [36]:
import numpy as np
import pandas as pd    

df = pd.DataFrame(np.random.randn(4,3), columns=['a','b','c'])
df

          a         b         c
0 -1.296111  0.460789  0.351463
1  2.581089  1.073726  0.367696
2 -1.639221  0.201217  0.967185
3 -1.167735 -0.600341  1.057378

In [37]:
df.apply(half)

          a         b         c
0 -0.648055  0.230394  0.175732
1  1.290544  0.536863  0.183848
2 -0.819611  0.100609  0.483592
3 -0.583867 -0.300170  0.528689

In [38]:
def range_func(x):
    return max(x) - min(x)

In [39]:
df.apply(range_func)

a    4.220310
b    1.674067
c    0.705915
dtype: float64