In [ ]:
#How does the autoregresive model predicts outcomes, using the same model and diferent data?

In [5]:
import pandas as pd

occupancy = pd.read_csv(r'C:\Users\Yael Aguilar\Downloads\occupancy.csv')
occupancy.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
0,2/2/2015 14:00,23.7000,26.272,585.200000,749.200000,0.004764,1
1,2/2/2015 15:00,23.7180,26.290,578.400000,760.400000,0.004773,1
2,2/2/2015 16:00,23.7300,26.230,572.666667,769.666667,0.004765,1
3,2/2/2015 17:00,23.7225,26.125,493.750000,774.750000,0.004744,1
4,2/2/2015 18:00,23.7540,26.200,488.600000,779.000000,0.004767,1

In [7]:
occupancy.date = pd.to_datetime(occupancy.date)
occupancy.index = pd.DatetimeIndex(occupancy.date, freq='H')
occupancy.index

DatetimeIndex(['2015-02-02 14:00:00', '2015-02-02 15:00:00',
               '2015-02-02 16:00:00', '2015-02-02 17:00:00',
               '2015-02-02 18:00:00', '2015-02-02 19:00:00',
               '2015-02-02 20:00:00', '2015-02-02 21:00:00',
               '2015-02-02 22:00:00', '2015-02-02 23:00:00',
               ...
               '2015-05-24 04:00:00', '2015-05-24 05:00:00',
               '2015-05-24 06:00:00', '2015-05-24 07:00:00',
               '2015-05-24 08:00:00', '2015-05-24 09:00:00',
               '2015-05-24 10:00:00', '2015-05-24 11:00:00',
               '2015-05-24 12:00:00', '2015-05-24 13:00:00'],
              dtype='datetime64[ns]', name='date', length=2664, freq='H')

In [16]:
from statsmodels.tsa.ar_model import AR

train = occupancy.CO2[:-10]
model = AR(occupancy.CO2[:-10])
model_fit = model.fit(maxlag=1)
predictions = model_fit.predict(start=len(train), end=len(train)+ 9, dynamic = False)

In [20]:
pd.DataFrame({'reals': occupancy.CO2[-10:],'predicted': predictions})

                           reals    predicted
date
2015-05-24 04:00:00  1153.250000  1152.762619
2015-05-24 05:00:00  1152.400000  1153.025305
2015-05-24 06:00:00  1146.166667  1153.288058
2015-05-24 07:00:00  1145.400000  1153.550877
2015-05-24 08:00:00  1140.800000  1153.813763
2015-05-24 09:00:00  1150.250000  1154.076715
2015-05-24 10:00:00  1129.200000  1154.339734
2015-05-24 11:00:00  1125.800000  1154.602820
2015-05-24 12:00:00  1123.000000  1154.865972
2015-05-24 13:00:00  1124.000000  1155.129191

In [27]:
from statsmodels.tsa.arima_model import ARMA

model = ARMA(occupancy.CO2[:-3], order =(0,1))
model_fit = model.fit(disp=False)
predictions = model_fit.predict(len(occupancy.CO2)-3, len(occupancy.CO2)-1)

In [28]:
pd.DataFrame({'observed': occupancy.CO2[-3:], 'predicted': predictions})

                     observed   predicted
date
2015-05-24 11:00:00    1125.8  926.498252
2015-05-24 12:00:00    1123.0  717.410131
2015-05-24 13:00:00    1124.0  717.410131

In [29]:
from statsmodels.tsa.arima_model import ARIMA

model = ARMA(occupancy.CO2[:-3], order =(0,1))
model_fit = model.fit(disp=False)
predictions = model_fit.predict(len(occupancy.CO2)-3, len(occupancy.CO2)-1)


pd.DataFrame({'observed': occupancy.CO2[-3:], 'predicted': predictions})

C:\Users\Yael Aguilar\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

                     observed   predicted
date
2015-05-24 11:00:00    1125.8  926.498252
2015-05-24 12:00:00    1123.0  717.410131
2015-05-24 13:00:00    1124.0  717.410131

In [31]:
model = ARMA(occupancy.CO2, order=(2,1))
model_fit=model.fit(disp=False)
predictions = model_fit.predict(len(occupancy.CO2)-3, len(occupancy.CO2)-1)

C:\Users\Yael Aguilar\anaconda3\lib\site-packages\statsmodels\tsa\arima_model.py:472: FutureWarning:
statsmodels.tsa.arima_model.ARMA and statsmodels.tsa.arima_model.ARIMA have
been deprecated in favor of statsmodels.tsa.arima.model.ARIMA (note the .
between arima and model) and
statsmodels.tsa.SARIMAX. These will be removed after the 0.12 release.

statsmodels.tsa.arima.model.ARIMA makes use of the statespace framework and
is both well tested and maintained.

To silence this warning and continue using ARMA and ARIMA until they are
removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARMA',
                        FutureWarning)
warnings.filterwarnings('ignore', 'statsmodels.tsa.arima_model.ARIMA',
                        FutureWarning)

  warnings.warn(ARIMA_DEPRECATION_WARN, FutureWarning)

In [32]:
pd.DataFrame({'observed': occupancy.CO2[-3:], 'predictions': predictions})

                     observed  predictions
date
2015-05-24 11:00:00    1125.8  1128.159593
2015-05-24 12:00:00    1123.0  1124.599547
2015-05-24 13:00:00    1124.0  1121.685439