In [1]:
import numpy as np
import pandas as pd 


animals = pd.read_csv(r'C:\Users\Yael Aguilar\Documents\clasesdata_102020\data\animals.csv')
animals.head()

   brainwt   bodywt      animal
0    3.385   44.500  Arctic_fox
1    0.480   15.499  Owl_monkey
2    1.350    8.100      Beaver
3  464.983  423.012         Cow
4   36.328  119.498   Gray_wolf

In [2]:
animals['bodywtkg'] = animals['bodywt'] * 0.45
animals.head()

   brainwt   bodywt      animal   bodywtkg
0    3.385   44.500  Arctic_fox   20.02500
1    0.480   15.499  Owl_monkey    6.97455
2    1.350    8.100      Beaver    3.64500
3  464.983  423.012         Cow  190.35540
4   36.328  119.498   Gray_wolf   53.77410

In [3]:
animals['wtratio'] = animals['bodywt'] / animals['brainwt']
animals.head()

   brainwt   bodywt      animal   bodywtkg    wtratio
0    3.385   44.500  Arctic_fox   20.02500  13.146233
1    0.480   15.499  Owl_monkey    6.97455  32.289583
2    1.350    8.100      Beaver    3.64500   6.000000
3  464.983  423.012         Cow  190.35540   0.909736
4   36.328  119.498   Gray_wolf   53.77410   3.289419

In [4]:
animals['wtratiozerocheck'] = np.where(animals['brainwt'] != 0, animals['bodywt'] /
                                       animals['brainwt'], 0)

In [6]:
animals.head(1)

   brainwt  bodywt      animal  bodywtkg    wtratio  wtratiozerocheck
0    3.385    44.5  Arctic_fox    20.025  13.146233         13.146233

In [7]:
animals['sum'] = animals.sum(axis=1)

In [9]:
animals['sum']

0       94.202467
1       87.532717
2       25.095000
3     1080.169873
4      216.178937
         ...
57     407.166447
58      10.447778
59      32.224074
60      51.805923
61     101.116653
Name: sum, Length: 62, dtype: float64