In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\Yael Aguilar\Downloads\animals.csv')
data.head()

   brainwt   bodywt      animal
0    3.385   44.500  Arctic_fox
1    0.480   15.499  Owl_monkey
2    1.350    8.100      Beaver
3  464.983  423.012         Cow
4   36.328  119.498   Gray_wolf

In [3]:
data['sum'] = data.sum(axis=1)

In [4]:
data.head()

   brainwt   bodywt      animal      sum
0    3.385   44.500  Arctic_fox   47.885
1    0.480   15.499  Owl_monkey   15.979
2    1.350    8.100      Beaver    9.450
3  464.983  423.012         Cow  887.995
4   36.328  119.498   Gray_wolf  155.826